.pagination {
    justify-content: center;
}

.ng {
    font-weight: bold;
}

.bg-navbar {
    background-color: #1D0D17;
}

.btn-outline {
    background-color: #5B4283;
    color: #5B4283;
    border-color: #5B4283;
}

.img {
    width: 60px;
    height: 50px;
    background-color: transparent;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dropdown-item {
    color: white;
}

.dropdown-toggle {
    color: white;
}

.museo {
    align-content: center;
}

.obra {
    align-content: center;
}

ul.navbar-nav {
    padding: 10px;
}

ul.navbar-nav a {
    padding-left: 40px;
}

.carousel {
    width: 1200px;
    height: 250px;
}

.card {
    background-image: url("../imagenes/borde.jpg");

    background-position: center;
    background-size: auto;
}

.card-header {
    background-image: url("../imagenes/borde-tumbado.jpg");

    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.card-body {
    background-color: #1D0D17;
}

.page-header {
    background-image: url("../imagenes/borde-tumbado.jpg");

    background-position: center;
    background-repeat: no-repeat;
}

body {
    background: rgba(63, 47, 83, 1); /* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(63, 47, 83, 1) 0%, rgba(63, 47, 83, 1) 12%, rgba(90, 29, 45, 1) 34%, rgba(121, 45, 61, 1) 51%, rgba(165, 65, 71, 1) 69%, rgba(32, 19, 28, 1) 90%, rgba(32, 19, 28, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(63, 47, 83, 1)), color-stop(12%, rgba(63, 47, 83, 1)), color-stop(34%, rgba(90, 29, 45, 1)), color-stop(51%, rgba(121, 45, 61, 1)), color-stop(69%, rgba(165, 65, 71, 1)), color-stop(90%, rgba(32, 19, 28, 1)), color-stop(100%, rgba(32, 19, 28, 1))); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(63, 47, 83, 1) 0%, rgba(63, 47, 83, 1) 12%, rgba(90, 29, 45, 1) 34%, rgba(121, 45, 61, 1) 51%, rgba(165, 65, 71, 1) 69%, rgba(32, 19, 28, 1) 90%, rgba(32, 19, 28, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(63, 47, 83, 1) 0%, rgba(63, 47, 83, 1) 12%, rgba(90, 29, 45, 1) 34%, rgba(121, 45, 61, 1) 51%, rgba(165, 65, 71, 1) 69%, rgba(32, 19, 28, 1) 90%, rgba(32, 19, 28, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(63, 47, 83, 1) 0%, rgba(63, 47, 83, 1) 12%, rgba(90, 29, 45, 1) 34%, rgba(121, 45, 61, 1) 51%, rgba(165, 65, 71, 1) 69%, rgba(32, 19, 28, 1) 90%, rgba(32, 19, 28, 1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(63, 47, 83, 1) 0%, rgba(63, 47, 83, 1) 12%, rgba(90, 29, 45, 1) 34%, rgba(121, 45, 61, 1) 51%, rgba(165, 65, 71, 1) 69%, rgba(32, 19, 28, 1) 90%, rgba(32, 19, 28, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f2f53', endColorstr='#20131c', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
}

.parallax {
    background-image: url("../imagenes/fondo.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#draggable {
    width: auto;
    height: auto;
    padding: auto;
}

#resizable {
    width: auto;
    height: auto;
    padding: auto;
}