.pagination {
    justify-content: center;
}

.ng {
    font-weight:bold;
}
.img{
    width: 150px;
    height: 100px;
}
.museo{
    align-content: center;

}
ul.navbar-nav {
    padding: 10px;
}

ul.navbar-nav a {
    padding-left: 40px;
}

.carousel{
    width: 1200px;
    height: 250px;
}
